[Unit]
Description=Bley greylisting daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=bley
RuntimeDirectory=bley
ExecStart=/usr/bin/bley -c /etc/bley/bley.conf -p /run/bley/bley.pid
PIDFile=/run/bley/bley.pid

[Install]
WantedBy=multi-user.target
